coreapi
dj-database-url
django
django-cors-headers
django-environ
djangorestframework
djangorestframework-simplejwt
drf-writable-nested
faker
gunicorn
psycopg2-binary
pytest
pytest-django
pytest-pspec
whitenoise[brotli]